/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*         o°        o°        o°                                         °o        °o        °o         */
/*        O         O         O                  VARIABLES                  O         O         O        */
/* ><(((°>   ><(((°>   ><(((°>                                               <°)))><   <°)))><   <°)))>< */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

$white:          #fff;
$white_muted:    rgba(255, 255, 255, .6);
$black:          #000;
$brown_dark:     #2a211c;
$brown_medium:   #6b4f3f;
$brown_light:    #bd825f;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*         o°        o°        o°                                         °o        °o        °o         */
/*        O         O         O                    GLOBAL                   O         O         O        */
/* ><(((°>   ><(((°>   ><(((°>                                               <°)))><   <°)))><   <°)))>< */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, button, cite, code, del, dfn, em, font, form, img, input, textarea, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
}

header, nav, footer {
    display:block;
}

html,
body {
    height:100%;
}

body {
    background:#fff;
    width:100%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: $black;
}

a {
    text-decoration:none;
}

a img {
    border:none;
}

.lineclear {
    clear:both;
    line-height:0;
    height:0;
    font-size:0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*         o°        o°        o°                                         °o        °o        °o         */
/*        O         O         O                   CONTAINERS                 O         O         O        */
/* ><(((°>   ><(((°>   ><(((°>                                               <°)))><   <°)))><   <°)))>< */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.full {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*         o°        o°        o°                                         °o        °o        °o         */
/*        O         O         O                    MENUS                   O         O         O        */
/* ><(((°>   ><(((°>   ><(((°>                                               <°)))><   <°)))><   <°)))>< */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

nav.menu {
    list-style: none;
    text-align: center;

    li {
        display: inline-block;
        vertical-align: middle;
        padding: 0 30px;
        box-sizing: border-box;
        border-right: 1px solid $brown_light;

        &:last-child { border-right: 0; }
    }

    a {
        color: $brown_medium;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*         o°        o°        o°                                         °o        °o        °o         */
/*        O         O         O                    HEADER                   O         O         O        */
/* ><(((°>   ><(((°>   ><(((°>                                               <°)))><   <°)))><   <°)))>< */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

header {

    .top {
        padding: 25px 0 50px 0;

        .logo {
            width: 174px;
            color: $brown_medium;
            text-align: center;

            .name {
                font-size: 29px;
                letter-spacing: .1px;
            }

            .job {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 23px;
                letter-spacing: 0.2px;
            }

            .city {
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: .4px;
                padding-bottom: 6px;
                border-bottom: 1px solid $brown_light;
            }

            .phone {
                font-weight: 700;
                font-size: 29px;
            }
        }
    }

    nav.menu {
        margin-bottom: 30px;

        a {
            font-size: 22px;
        }
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*         o°        o°        o°                                         °o        °o        °o         */
/*        O         O         O                 HOME SLIDER                 O         O         O        */
/* ><(((°>   ><(((°>   ><(((°>                                               <°)))><   <°)))><   <°)))>< */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.home-slider {
    margin-bottom: 60px;

    #home-slider {
        height: 390px;
        width: 100%;

        li {
            height: 100%;
            width: 100%;

            a {
                position: relative;
                display: block;
                height: 100%;
                width: 100%;
            }

            .img {
                height: 100%;
                background-size: cover;
                background-position: center;
            }

            .infos {
                position: absolute;
                left: 0; bottom: 0; right: 0;
                background: $white_muted;
                padding: 20px;

                .title {
                    color: $brown_dark;
                    font-size: 24px;
                    text-align: center;
                }
            }
        }
    }
}

.lSSlideOuter .lSPager.lSpg > li {

    a {
        background-color: $brown_medium;
    }

    &.active a, &:hover a {
        background-color: $brown_light;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*         o°        o°        o°                                         °o        °o        °o         */
/*        O         O         O                    TITLES                   O         O         O        */
/* ><(((°>   ><(((°>   ><(((°>                                               <°)))><   <°)))><   <°)))>< */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

h1 {
    color: $brown_medium;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 30px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*         o°        o°        o°                                         °o        °o        °o         */
/*        O         O         O                    LISTS                    O         O         O        */
/* ><(((°>   ><(((°>   ><(((°>                                               <°)))><   <°)))><   <°)))>< */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.list {

    ul {
        list-style: none;
    }

    .item {
        float: left;
        width: 321px;
        height: 321px;
        padding: 0 10px;
        margin-bottom: 20px;

        a {
            position: relative;
            display: block;
            height: 100%;
        }

        .img {
            display: block;
            height: 100%;
            background-size: cover;
            background-position: center;
        }

        .infos {
            position: absolute;
            left: 0; bottom: 0; right: 0;
            background: $white_muted;
            padding: 20px;

            .title {
                color: $brown_dark;
                font-size: 20px;
            }
        }
    }

    .more-link {
        margin: 30px 0 70px 0;
        text-align: center;

        a {
            display: inline-block;
            background: $brown_light;
            color: $white;
            text-transform: uppercase;
            font-size: 20px;
            padding: 15px 20px;
        }
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*         o°        o°        o°                                         °o        °o        °o         */
/*        O         O         O                   CONTACT                   O         O         O        */
/* ><(((°>   ><(((°>   ><(((°>                                               <°)))><   <°)))><   <°)))>< */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.contact {

    .coords {
        margin-bottom: 30px;

        p {
            font-size: 18px;
        }
    }

    .form {
        margin-bottom: 100px;

        .errors {
            color: red;
            font-size: 16px;
        }

        div {
            margin-bottom: 15px;
            width: 460px;
        }

        label, input, textarea {
            display: inline-block;
            vertical-align: top;
            -webkit-appearance: none;
            border: 0;
            border-radius: 0;
            box-shadow: 0;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 14px;
        }

        label {
            width: 60px;
        }

        input[type=text], textarea {
            width: calc(100% - 64px);
            padding: 5px;
            font-weight: 600;
            background-color: $brown_light;
            color: $brown_medium;
        }

        textarea {
            height: 200px;
        }

        input[type=submit] {
            background-color: $brown_medium;
            color: $white;
            padding: 5px;
            text-transform: uppercase;
            font-weight: 600;
            float: right;
            cursor: pointer;
        }
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*         o°        o°        o°                                         °o        °o        °o         */
/*        O         O         O                    FOOTER                   O         O         O        */
/* ><(((°>   ><(((°>   ><(((°>                                               <°)))><   <°)))><   <°)))>< */
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

footer {
    margin-bottom: 30px;

    nav.menu {
        margin: 30px 0;
        padding: 16px 0;
        border-top: 1px solid $brown_light;
        border-bottom: 1px solid $brown_light;

        a {
            font-size: 16px;
        }
    }

    .social {
        list-style: none;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 5px;

            a {
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 15px;
                background: $brown_medium url(../images/facebook-logo.svg) no-repeat;
                background-size: 15px auto;
                background-position: center;

                &.facebook { background-image: url(../images/facebook-logo.svg); }
                &.twitter { background-image: url(../images/twitter-logo-silhouette.svg); }
                &.linkedin { background-image: url(../images/linkedin-logo.svg); }
            }
        }
    }
}










